* {
	margin: 0;
	padding: 0;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	height: 100vh;
	overflow-y: auto;
	z-index: 500;
	background-color: #212121;
	align-items: center;
	text-align: center;
}

.sidebarLogo {
    position: absolute;
    top: 5px;  /* Position at the top with a small gap */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;  /* Ensures it's above other content */
    height: 150px;  /* Your specified logo height */
}

.sidebarImg {
    position: absolute; /* Ensures it does not flow behind the logo */
    top: 130px; /* Logo's height + top + space = 150px + 10px + 10px space */
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Adjust width as necessary */
    z-index: 500; /* Below the logo */
}

.sidebarTrackAndArtist, .sidebarStats {
    position: absolute; /* Absolute position to control the layout precisely */
    left: 5%; /* Centering inside the sidebar */
    width: 90%; /* Control width to fit inside the sidebar */
    text-align: center; /* Center text if necessary */
}

.sidebarTrackAndArtist {
    top: 450px; /* Below the image, adjust the 150px if image height changes */
}

.sidebarStats {
    top: 600px; /* Below the TrackAndArtist, adjust 100px based on its content height */
    z-index: 400; /* Below TrackAndArtist */
}


.topMenu{
	margin-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
	flex-direction: row;
	z-index: 200;
}

.dataVisualization{
	width: calc(100% - 400px);
	margin-left: 400px;
	height: 100vh;
    position: fixed;
	z-index: 100;
}

.background {
	background: #121212;
	background-blend-mode: darken;
	background-size: cover;
}

h1 {
	color: #1DB954;
	text-align: center;
	font-family: "Circular Std";
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2 {
	color: #1DB954;
	text-align: center;
	font-family: "Circular Std";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h3 {
	color: #B3B3B3;
	text-align: center;
	font-family: "Circular Std";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h4 {
	color: #B3B3B3;
	text-align: center;
	font-family: "Circular Std";
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.switch-toggle {
	float: left;
	background: #535353;
	border-radius: 20px;
}

 .switch-toggle input {
   position: absolute;
   opacity: 0;
}

.switch-toggle input + label {
   padding: 10px;
   float:left;
   color: #fff;
   font-family: "Circular Std";
   cursor: pointer;
}

.switch-toggle input:checked + label {
   background: #1DB954;
   border-radius: 20px;
}
